/**
    To make the following rules work in web components that use Shadow DOM,
    the component must import this stylesheet.
*/

@media (max-width: 767px) {
    .hidden-sm, ::slotted(.hidden-sm) {
        display: none !important;
    }
}

@media (max-width: 576px) {
    .hidden-xs, ::slotted(.hidden-xs) {
        display: none !important;
    }
}

@media (min-width: 576px) {
    .visible-xs, ::slotted(.visible-xs) {
        display: none !important;
    }
}